.keyboard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6px;

	.row {
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 6px;

		.key {
			min-width: 35.5px;
			width: 36px;
			height: 58px;
			border: none;

			background-color: rgba(gray, 0.8);
		}

		.util {
			width: 100%;
		}
	}
}
