.app {
	width: 100svw;
	height: 100svh;
	box-sizing: border-box;
	padding-top: 66px;

	.page {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 8px;

		display: flex;
		// flex-direction: column;
		// justify-content: center;
		// align-items: center;
	}

	.modal {
		width: 100%;
		height: 80svh;

		background-color: rgba(purple, 0.5);

		position: fixed;
		bottom: 0;

		.close-btn {
			width: 100%;
			height: 20svh;

			background-color: rgba(82, 0, 82, 0.9);

			position: absolute;
			top: -20svh;
		}
	}

	.leaderboard {
		height: 100svh;
	}

	.settings {
		background-color: rgba(green, 0.5);

		.settings-header {
			display: flex;
			justify-content: center;
		}
	}

	.hide {
		display: none;
	}
}
